<!-- Footer -->
<div id="footer">
    <div class="compact">
        <div class="link-block">
            <h4>Links</h4>
            <ul id="footer-links">
                <li><a href="http://www.pku.edu.cn/" target="_blank"><abbr title="Peking University">PKU</abbr></a></li>
                <li><a href="http://www.bjmu.edu.cn/" target="_blank"><abbr title="Health Science Center">HSC</abbr></a></li>
                <li><a href="http://sps.bjmu.edu.cn/" target="_blank"><abbr title="School of Pharmaceutical Sciences">SPS</abbr></a></li>
                <li><a href="http://sklnbd.bjmu.edu.cn/" target="_blank"><abbr title="State Key Laboratory of Natural and Biomimetic Drugs">SKLNBD</abbr></a></li>
            </ul>
        </div>
        <div class="contact-block">
            <h4>Contact Us</h4>
            <ul>
                <li>
                    <address>Peking University Health Science Center,</address>
                    <address>38 Xueyuan Rd, Haidian Distrcit, Beijing, 100191, China</address>
                </li>
                <li>E-mail: taoliupku@pku.edu.cn</li>
                <li>Tel: 010-82805519</li>
            </ul>
        </div>
        <div class="clear">
        </div>
        <div id="sub-footer">
            &copy; <span data-year>2025</span> Tao Liu &middot; All Rights Reserved.
        </div>
    </div>
</div>
<!-- Footer End -->

