<!-- Header -->
<div class="compact" id="header">
    <div id="header-logo">
        <a href="index.html"><img alt="LiuLab" src="images/LiuLogo.jpg" height="64px"/></a>
    </div>
    <div id="nav-block">
        <ul id="nav" role="menubar">
            <li><a href="index.html">Home</a></li>
            <li><a href="About%20Liu.html">About Liu</a></li>
            <li><a href="Research.html">Research</a></li>
            <li><a href="Publications.html">Publications</a></li>
            <li><a href="News.html">News</a></li>
            <li><a href="Members.html">Members</a></li>
            <li><a href="Photos.html">Photos</a></li>
        </ul>
    </div>
    <div class="clear">
    </div>
</div>
<!-- Header End -->

